@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300&family=M+PLUS+1+Code:wght@200&family=Source+Code+Pro:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--FontColor);
    background: var(--background);
}

:root {
    --background: #21212f;
    --blueBtn: #0085FF;
    --HoverBtn: #0458a7;
    --FontColor: #FAFAFA;
    --fontFBtn: 'Raleway', sans-serif;
    --fontFBigText: 'Mochiy Pop P One', sans-serif;
    --instructionsFText: 'Bebas Neue';
}


h2{
    font-size: 72px; 
    font-family: var(--fontFBigText);  
    height:65vh;
    min-width: 100%;
    position: relative;   
    height:20vh;
    min-width: 100%;
    text-align: center;
}

h3{font-size: 52px; 
    font-family: var(--fontFBigText);
    padding-bottom: 40px;
}


.opacityBtn{
    background-color: transparent; 
    border: transparent; 
    cursor: pointer;
}

.playersDiv {
    display: flex;
    
}

.player1{
    height: 100%;
    position: absolute;
    align-items: center;
}

.player2{
    height: 100%;
    position: absolute;
    align-items: center;
}

.choose-characters{
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    row-gap: 50px;
    column-gap: 50px;
    padding-left: 16rem;
}

.right-top {
    display: flex;
    flex-direction: column;
    column-gap:  40px;
    row-gap: 40px;
}

.right-bottom {
    display: flex;
    flex-direction: column;
    column-gap:  40px;
    row-gap: 60px;
}

.left-top {
    display: flex;
    flex-direction: column;
    column-gap:  40px;
    row-gap: 40px;
}

.left-bottom {
    display: flex;
    flex-direction: column;
    column-gap:  40px;
    row-gap: 60px;
}




.div-animals{
    align-items: center;
    width: 50%;
    
}


/* .checkbox{
    width: 50%;
    height: 50%;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
} */

.btn-div {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: fixed;
    bottom: 50;
    left: 50;
    right: 50;


}

.btn {
    color: var(--FontColor);
    background-color: var(--blueBtn);
    height: 3rem;
    width: 10rem;
    border-radius: 25px;
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}


/* Hover functions*/
.btn:hover {
    background-color: var(--Hover);
    box-shadow: 10px 10px 10px 10px rgba(71, 69, 69, 0.2);

}

.vertical{
    height: 20rem;
    width: 0.1rem;
    background: whitesmoke;
    position: fixed;
    left: 50%;
    right: 50%;
    bottom: 30%;
}

.arrow{
    margin: 2rem;
    position: absolute;
}