@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #21212f;
  --blueBtn: #0085ff;
  --HoverBtn: #0458a7;
  --FontColor: #fafafa;
  --fontFBtn: "Raleway",
    sans-serif;
  --fontFBigText: "Mochiy Pop P One",
    sans-serif;
}

.blocked {
  display: none;
}

/*REUSABLE CLASSES*/
.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.column {
  flex-direction: row;
}

.align {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.block {
  display: none;
}

.padding-left {
  padding-left: 7rem;
}

.padding-left-extra {
  padding-left: 8rem;
}

.padding-right {
  padding-right: 4rem;
}

.padding-top {
  padding-top: 1rem;
}

body {
  background-color: #000000;
  color: #fafafa;
}

.gameOverMainDiv {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50;
  right: 50;
}

.btn {
  color: var(
    --FontColor
  );
  background-color: var(
    --blueBtn
  );
  border: none;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  font-family: "Raleway",
    sans-serif;
}

.gameOverWinner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameOverLoser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.characters {
  display: flex;
  justify-content: center;
}

.characters img {
  height: 60%;
  width: auto;
}

span {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 6px;
  text-align: center;
  font-family: "Mochiy Pop P One",
    sans-serif;
}

.winner {
  width: 100%;
  height: 100%;
}

.loser {
  width: 100%;
  height: 100%;
}
