.header {
    height: 5vh;
    min-width: 100%;
}

.hpPlayer1 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}

.hpPlayer2 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}