@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300&family=M+PLUS+1+Code:wght@200&family=Source+Code+Pro:wght@100&display=swap');

:root {
    --background: #21212f;
    --blueBtn: #0085FF;
    --HoverBtn: #0458a7;
    --FontColor: #FAFAFA;
    --fontFBtn: 'Raleway', sans-serif;
    --fontFBigText: 'Mochiy Pop P One', sans-serif;
    --instructionsFText: 'Bebas Neue';
}

.hide{
    display: none;
}

.show{
    display: block;
}

body{
    margin: 0;
    font-family: var(--instructionsFText);
    color: whitesmoke;
}

.header{
    min-width: 100%;
    height: 10vh;
    position: relative;
    top: 0;
}

h2{
    font-size: 72px;
}

h3{
    font-size: 52px;
}

.main-div{
    position: fixed;
    inset:0;
    gap: 5rem;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
}

.main{
    min-width: 100%;
    height: 75vh;
    gap: 10rem;
}

.extra-life{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.speed-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shield{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    min-width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

footer > div > img{
    height: 40%;
    margin-right: 10%;
}

footer > div{
    display:flex;
    flex-direction: row;
    min-width: 16rem;
}

.move{
    height: 35vh;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
}

.shoot{
    height: 25vh;
    min-width: 100%;
    position: relative;
}

.space-key{
    height: 40%;
    position: absolute;
    left:9%;
    top: 50%;
    transform: translateY(-50%);
}

.enter-key{
    height: 60%;
    position: absolute;
    right:15%;
    top: 50%;
    transform: translateY(-50%);
}

.pause{
    height: 10vh;
    min-width: 100%;
    position: relative;
}

.pause > h3{
    position: absolute;
    left: 40%;
}

.pause > img{
    position: absolute;
    height: 85%;
    left: 50%;
}

.player1{
    margin:0;
    position: absolute;
    left: 14%;
}

.player2{
    margin: 0;
    position: absolute;
    right:14%;
}

.startMenu{
    margin: 1rem;
    cursor:pointer;
    position: absolute;
}