@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #21212f;
    --blueBtn: #0085FF;
    --HoverBtn: #0458a7;
    --FontColor: #FAFAFA;
    --fontFBtn: 'Raleway', sans-serif;
    --fontFBigText: 'Mochiy Pop P One', sans-serif;
}


.startMenuContainer {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 4rem;
}

.startMenuTitle {
    color: var(--FontColor);
    font-size: 5rem;
    margin-top: 4rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.start-image {
    padding: 0;
}

.btn-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 5rem;
    /* align-content: flex-end;
    position: fixed;
    bottom: 50;
    left: 50;
    right: 50; */
}

.btn {
    color: var(--FontColor);
    background-color: var(--blueBtn);
    height: 3rem;
    width: 10rem;
    border-radius: 25px;
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}


/* Hover functions*/
.btn:hover {
    background-color: var(--Hover);
    box-shadow: 10px 10px 10px 10px rgba(71, 69, 69, 0.2);

}