* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*REUSABLE CLASSES*/
.flex{display: flex;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.evenly{justify-content: space-evenly;}
.column{flex-direction: column;}
.align{align-items: center;}
.wrap{flex-wrap: wrap;}
.block{display: none;}
.padding-left{padding-left: 7rem;}
.padding-left-extra{padding-left: 8rem;}
.padding-right{padding-right: 4rem;}
.padding-top{padding-top: 2rem;}


body {
    background-color: #21212f;
    color: #FAFAFA;
}

button {
    background-color: #0085FF;
    font-size: 25px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin: 1rem;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #FAFAFA;
}

button:hover {
    background-color: #006BCE;
    cursor: pointer;
}

button:active {
    box-shadow: 0px 6px 15px 0px #00000040;
}

.gameOverTitle {
    font-size: 80px;
    font-weight: bold;
    margin: 2rem;
}

.characters {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

.characters img {
    width: 80%;
    height: auto;
}

span {
    letter-spacing: 5px;
    text-align: center;
}

